<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>hello <%= @user.first.name %> a new item has been added <%= @item.name %>!</p>
    <p>
    Item details<br>
    --------------------------
    </p>
    <p>Name: <%= @item.name %></p>
    <p>Price: <%= @item.price %></p>
    <p>
    Message:<br>
    ----------
    </p>
    <p>have a nice day</p>
  </body>
</html>