<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>hello Admin, a new item and user has been added <%= @item.name %> and <%= @user.name %>!</p>
  </body>
</html>